@model WebStore.ViewModels.EmployeeView

<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Отчество</td>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>@Model.Age</td>
    </tr>
</table>