@model WebStore.ViewModels.EmployeeView

@{
    ViewBag.Title = "Индекс";
}
@await Html.PartialAsync("Partial/_Slider")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Личная информация</td>
            <td>@Model.Permotion</td>
        </tr>
    </table>
    <a href="~/Views/Home/Index.cshtml"><<<< - Назад к списку не работает так как хотелось бы :)</a><br>
    @Html.ActionLink("<<- Back to List","Index")

</body>
</html>
